.table {
  border: none;
  border-collapse: collapse;
  font-size: larger;
  margin-bottom: 3vh;
}

.table__head th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: var(--light-color);
  border-left: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
}

.table__body td {
  text-align: left;
  border-left: 1px solid var(--table-border);
  border-right: 1px solid var(--table-border);
  padding: 10px 15px;
  vertical-align: top;
}

.table__body tr:last-child {
  border-bottom: 1px solid var(--table-border);
}

.table__body tr:nth-child(even) {
  background-color: var(--table--accent);
}
.table__body tr:nth-child(odd) {
  background-color: var(--table--accent2);
}

.table__btn-cont {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  flex-wrap: wrap;
}
