.btn {
  font-family: inherit;
  border-style: solid;
  padding: 0.5vmin;
  font-size: large;
}

.next-btn {
  color: var(--light-color);
  border-width: 6px;
  background-color: var(--next-btn-gen);
  border-color: var(--next-btn-light);
  &:hover {
    background-color: var(--next-btn-light);
  }
  &:disabled {
    background-color: var(--next-btn-dis);
    border-color: var(--next-btn-dis);
    pointer-events: none;
  }
  &:active {
    background-color: var(--next-btn-active);
    border-color: var(--next-btn-active);
  }
}

.previous-btn {
  color: var(--light-color);
  border-width: 6px;
  background-color: var(--prev-btn-gen);
  border-color: var(--prev-btn-light);
  &:hover {
    background-color: var(--prev-btn-light);
  }
  &:disabled {
    background-color: var(--prev-btn-dis);
    border-color: var(--prev-btn-dis);
    pointer-events: none;
  }
  &:active {
    background-color: var(--prev-btn-active);
    border-color: var(--prev-btn-active);
  }
}

.table-btn {
  border-width: 1px;
  color: var(--dark);
}

.delete-btn {
  background-color: var(--delete-btn);
  &:hover {
    background-color: var(--delete-focus);
  }
  &:active {
    background-color: var(--delete-active);
  }
}

.edit-btn {
  background-color: var(--edit-btn);
  &:hover {
    background-color: var(--edit-focus);
  }
  &:active {
    background-color: var(--edit-active);
  }
}

.save-btn {
  background-color: var(--save-btn);
  &:hover {
    background-color: var(--save-focus);
  }
  &:active {
    background-color: var(--save-active);
  }
}

.showTranstation-btn {
  background-color: var(--table--accent2);
  &:hover {
    background-color: var(--table--accent);
  }
  &:active {
    background-color: var(--header-bg);
  }
}

.cancelChange-btn {
  background-color: var(--cancel-change-btn);
  &:hover {
    background-color: var(--cancel-change-focus);
  }
  &:active {
    background-color: var(--cancel-change-active);
  }
}

// button[disabled]:active,
// button[disabled],
// input[type="button"][disabled]:active,
// input[type="button"][disabled],
// input[type="submit"][disabled]:active,
// input[type="submit"][disabled],
// button[disabled]:hover,
// input[type="button"][disabled]:hover,
// input[type="submit"][disabled]:hover {
//   border: 2px outset ButtonFace;
//   color: GrayText;
//   cursor: inherit;
//   background-color: #ddd;
//   background: #ddd;
// }
