@import "../../style/colors.scss";

.logo-link {
  width: 25%;
  height: 25%;
}
.logo {
  max-width: 25%;
  max-height: 25%;
  padding: 0.2vw;
}
.nav {
  margin-top: 1.5em;
  list-style-type: none;
  display: flex;
  column-gap: 1em;
  row-gap: 1em;
  align-items: flex-start;
  justify-self: end;
  flex-wrap: wrap;
}

.nav-item a {
  margin-top: 5px;
  padding: 1vmin;
  color: var(--dark);
  &:hover {
    background-color: var(--light-color);
    color: var(--backgr-color);
    border-radius: 10px;
  }
  &:active {
    color: var(--active-link);
    background-color: var(--light-color);
    border-radius: 10px;
  }
}

.active {
  color: var(--dark);
  background-color: var(--light-color);
  border-radius: 10px;
}
