.btn {
  font-family: inherit;
  border-style: solid;
  padding: 0.5vmin;
  font-size: large;
}

.next-btn {
  color: var(--light-color);
  border-width: 6px;
  background-color: var(--custom-green);
  border-color: var(--light-green);
  &:hover {
    background-color: var(--light-green);
  }
}

.previous-btn {
  color: var(--light-color);
  border-width: 6px;
  background-color: var(--custom-red);
  border-color: var(--light-red);
  &:hover {
    background-color: var(--light-red);
  }
}

.table-btn {
  border-width: 1px;
  color: var(--dark);
}

.delete-btn {
  background-color: var(--delete-backgr);
  &:hover {
    background-color: var(--light-red);
  }
}

.redact-btn {
  background-color: var(--redact-backgr);
  &:hover {
    background-color: var(--light-yellow);
  }
}

.save-btn {
  background-color: var(--save-backgr);
  &:hover {
    background-color: var(--light-green);
  }
}

.showTranstation-btn {
  background-color: var(--table--accent2);
  &:hover {
    background-color: var(--table--accent);
  }
}

.cancelChange-btn {
  background-color: var(--cancel-change);
  &:hover {
    background-color: var(--cancel-change-hover);
  }
}
