@import "../../style/colors.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--header-bg);
  align-self: stretch;
  padding: 2vmin 0;
  font-size: larger;
  position: sticky;
  top: 0;
}

// .title {
// }

.nav {
  margin-top: 1.5em;
  list-style-type: none;
  display: flex;
  column-gap: 1em;
  align-items: flex-start;
}

.nav-item a {
  margin-top: 5px;
  padding: 1vmin;
  color: var(--dark);
  &:hover {
    background-color: var(--light-color);
    color: var(--backgr-color);
    border-radius: 10px;
  }
  &:active {
    color: var(--active-link);
    background-color: var(--light-color);
    border-radius: 10px;
  }
}

.active {
  color: var(--dark);
  background-color: var(--light-color);
  border-radius: 10px;
}
