:root {
  --backgr-color: rgba(130, 89, 150, 0.667);
  --header-bg: rgba(145, 112, 161, 0.763);
  --light-color: rgb(247, 235, 254);
  --custom-green: rgb(28, 111, 61);
  --custom-red: rgb(132, 36, 27);
  --light-green: rgb(37, 148, 82);
  --light-red: rgb(168, 46, 35);
  --light-yellow: rgb(249, 216, 68);
  --table-border: rgb(221, 221, 221);
  --table--accent: rgba(212, 177, 231, 0.667);
  --table--accent2: rgba(232, 205, 247, 0.667);
  --dark: #000;
  --delete-backgr: rgb(210, 87, 75);
  --redact-backgr: rgb(251, 229, 129);
  --save-backgr: rgb(48, 181, 101);
  --cancel-change: rgb(156, 156, 250);
  --cancel-change-hover: rgb(123, 123, 251);
}
