@import "./colors";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "EB Garamond", serif;
  min-height: 100vh;
  background-color: var(--backgr-color);
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 5vmin;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vmin 0;
}
