:root {
  --backgr-color: rgba(130, 89, 150, 0.667);
  --header-bg: rgba(145, 112, 161, 0.763);
  --light-color: rgb(247, 235, 254);
  --custom-green: rgb(28, 111, 61);
  --custom-red: rgb(132, 36, 27);
  --light-green: rgb(37, 148, 82);
  --light-red: rgb(168, 46, 35);
}
